In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import seaborn as sns

In [2]:
df= pd.read_csv('../data/dataset.csv')

/home/corentin/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0000001,2000001,1 Ceres,1,Ceres,NaN,N,N,3.40,939.400,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
1,a0000002,2000002,2 Pallas,2,Pallas,NaN,N,N,4.20,545.000,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
2,a0000003,2000003,3 Juno,3,Juno,NaN,N,N,5.33,246.596,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
3,a0000004,2000004,4 Vesta,4,Vesta,NaN,N,N,3.00,525.400,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
4,a0000005,2000005,5 Astraea,5,Astraea,NaN,N,N,6.90,106.699,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191

In [33]:
columns = list(df.columns)

In [88]:
x = "a00001"

In [98]:
url = "https://www.asterank.com/api/asterank?query={%22id%22:{%22$lt%22:%22" + x + "%22}}&limit=1"

In [99]:
url

'https://www.asterank.com/api/asterank?query={%22id%22:{%22$lt%22:%22a00001%22}}&limit=1'

In [100]:
response = requests.get(url)

In [101]:
response.status_code == 200

True

In [102]:
response.json()

[{'sigma_tp': 1.327e-08,
  'diameter': 939.4,
  'epoch_mjd': 58600.0,
  'ad': 2.979646696468275,
  'producer': 'Davide Farnocchia',
  'rms': 0.36954,
  'H_sigma': '',
  'closeness': 2640.0802241862843,
  'K2': '',
  'K1': '',
  'M1': '',
  'two_body': '',
  'full_name': '1 Ceres',
  'M2': '',
  'sigma_per': 2.3543e-08,
  'equinox': 'J2000',
  'DT': '',
  'diameter_sigma': 0.2,
  'saved': -6778017204000.001,
  'albedo': 0.09,
  'moid_ld': 620.6405326,
  'pha': 'N',
  'neo': 'N',
  'sigma_ad': 2.7786e-11,
  'PC': '',
  'profit': 522924215944.27673,
  'spkid': 2000001.0,
  'sigma_w': 1.1463e-08,
  'sigma_i': 1.9267e-09,
  'per': 1683.145700575484,
  'id': 'a0000001',
  'A1': '',
  'data_arc': 24437.0,
  'A3': '',
  'score': 132.02401120931424,
  'per_y': 4.6082017811786,
  'sigma_n': 2.9918e-12,
  'epoch_cal': 20190427.0,
  'orbit_id': 34.0,
  'sigma_a': 2.5823e-11,
  'sigma_om': 1.1722e-08,
  'A2': '',
  'sigma_e': 1.172e-11,
  'condition_code': 0.0,
  'rot_per': 9.07417,
  'prov_des': '',
  'G': 0.12,
  'last_obs': '2017-03-05',
  'H': 3.34,
  'price': 8123022111651.299,
  'IR': '',
  'spec_T': 'G',
  'epoch': 2458600.5,
  'n_obs_used': 5993.0,
  'moid': 1.59478,
  'extent': '964.4 x 964.2 x 891.8',
  'spec_B': 'C',
  'e': 0.07600902762923671,
  'GM': 62.873006000000004,
  'tp_cal': 20180430.2541287,
  'pdes': 1.0,
  'class': 'MBA',
  'UB': 0.426,
  'a': 2.769165146349478,
  't_jup': 3.309,
  'om': 80.30553084093981,
  'ma': 77.37209773768207,
  'name': 'Ceres',
  'i': 10.59406732590292,
  'tp': 2458238.7541287453,
  'prefix': '',
  'BV': 0.713,
  'spec': 'C',
  'q': 2.558683596230681,
  'w': 73.59769486239257,
  'moid_jup': 2.09753,
  'n': 0.2138852268564227,
  'sigma_ma': 3.8719e-09,
  'first_obs': '1950-04-09',
  'n_del_obs_used': 405.0,
  'sigma_q': 5.6278e-11,
  'n_dop_obs_used': 0.0}]

In [97]:
api = list(response.json()[0].keys())

IndexError: list index out of range

In [53]:
manquant2 = []
for i in api:
    if i not in columns:
        manquant2.append(i)

In [52]:
manquant1 = []
for i in columns:
    if i not in api:
        manquant1.append(i)

In [54]:
manquant2

['producer',
 'H_sigma',
 'closeness',
 'K2',
 'K1',
 'M1',
 'two_body',
 'M2',
 'DT',
 'saved',
 'PC',
 'profit',
 'A1',
 'data_arc',
 'A3',
 'score',
 'A2',
 'condition_code',
 'rot_per',
 'prov_des',
 'G',
 'last_obs',
 'price',
 'IR',
 'spec_T',
 'n_obs_used',
 'extent',
 'spec_B',
 'GM',
 'UB',
 't_jup',
 'BV',
 'spec',
 'moid_jup',
 'first_obs',
 'n_del_obs_used',
 'n_dop_obs_used']

In [55]:
len(columns)

45

In [60]:
a = np.array([manquant])

In [61]:
print(a)

[]

In [62]:
columns.sort()

In [63]:
columns

['H',
 'a',
 'ad',
 'albedo',
 'class',
 'diameter',
 'diameter_sigma',
 'e',
 'epoch',
 'epoch_cal',
 'epoch_mjd',
 'equinox',
 'full_name',
 'i',
 'id',
 'ma',
 'moid',
 'moid_ld',
 'n',
 'name',
 'neo',
 'om',
 'orbit_id',
 'pdes',
 'per',
 'per_y',
 'pha',
 'prefix',
 'q',
 'rms',
 'sigma_a',
 'sigma_ad',
 'sigma_e',
 'sigma_i',
 'sigma_ma',
 'sigma_n',
 'sigma_om',
 'sigma_per',
 'sigma_q',
 'sigma_tp',
 'sigma_w',
 'spkid',
 'tp',
 'tp_cal',
 'w']

In [64]:
api.sort()
api

['A1',
 'A2',
 'A3',
 'BV',
 'DT',
 'G',
 'GM',
 'H',
 'H_sigma',
 'IR',
 'K1',
 'K2',
 'M1',
 'M2',
 'PC',
 'UB',
 'a',
 'ad',
 'albedo',
 'class',
 'closeness',
 'condition_code',
 'data_arc',
 'diameter',
 'diameter_sigma',
 'e',
 'epoch',
 'epoch_cal',
 'epoch_mjd',
 'equinox',
 'extent',
 'first_obs',
 'full_name',
 'i',
 'id',
 'last_obs',
 'ma',
 'moid',
 'moid_jup',
 'moid_ld',
 'n',
 'n_del_obs_used',
 'n_dop_obs_used',
 'n_obs_used',
 'name',
 'neo',
 'om',
 'orbit_id',
 'pdes',
 'per',
 'per_y',
 'pha',
 'prefix',
 'price',
 'producer',
 'profit',
 'prov_des',
 'q',
 'rms',
 'rot_per',
 'saved',
 'score',
 'sigma_a',
 'sigma_ad',
 'sigma_e',
 'sigma_i',
 'sigma_ma',
 'sigma_n',
 'sigma_om',
 'sigma_per',
 'sigma_q',
 'sigma_tp',
 'sigma_w',
 'spec',
 'spec_B',
 'spec_T',
 'spkid',
 't_jup',
 'tp',
 'tp_cal',
 'two_body',
 'w']

In [65]:
res = []
for i in api:
    if i not in columns:
        res.append(i)

In [66]:
res

['A1',
 'A2',
 'A3',
 'BV',
 'DT',
 'G',
 'GM',
 'H_sigma',
 'IR',
 'K1',
 'K2',
 'M1',
 'M2',
 'PC',
 'UB',
 'closeness',
 'condition_code',
 'data_arc',
 'extent',
 'first_obs',
 'last_obs',
 'moid_jup',
 'n_del_obs_used',
 'n_dop_obs_used',
 'n_obs_used',
 'price',
 'producer',
 'profit',
 'prov_des',
 'rot_per',
 'saved',
 'score',
 'spec',
 'spec_B',
 'spec_T',
 't_jup',
 'two_body']

In [79]:
df

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0000001,2000001,1 Ceres,1,Ceres,NaN,N,N,3.400,939.400,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
1,a0000002,2000002,2 Pallas,2,Pallas,NaN,N,N,4.200,545.000,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
2,a0000003,2000003,3 Juno,3,Juno,NaN,N,N,5.330,246.596,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
3,a0000004,2000004,4 Vesta,4,Vesta,NaN,N,N,3.000,525.400,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
4,a0000005,2000005,5 Astraea,5,Astraea,NaN,N,N,6.900,106.699,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958519,bPLS6013,3246801,(6013 P-L),6013 P-L,NaN,NaN,N,N,17.135,NaN,...,6.969000e+00,7.433000e+00,4.631100e+01,2.738300e+01,1.041200e+00,1.652100e-01,1.309700e+02,7.264900e+02,MBA,0.23839
958520,bPLS6331,3246834,(6331 P-L),6331 P-L,NaN,NaN,N,N,18.500,NaN,...,1.563500e-05,5.598600e-05,2.380400e-04,1.298200e-04,2.418900e-08,3.346100e-09,4.690200e-04,1.578500e-05,MBA,0.53633
958521,bPLS6344,3013075,(6344 P-L),6344 P-L,NaN,NaN,Y,Y,20.400,NaN,...,1.853300e-05,5.691700e-05,8.969200e-05,5.272600e-05,1.650100e-07,1.101600e-08,2.830600e-04,9.127500e-05,APO,0.51556
958522,bT2S2060,3246457,(2060 T-2),2060 T-2,NaN,NaN,N,N,18.071,NaN,...,5.448800e-01,4.391600e+00,1.898800e+01,1.083800e+01,7.171600e-01,1.016700e-01,3.898400e+01,5.035500e+02,MBA,0.25641
958523,bT3S2678,3246553,(2678 T-3),2678 T-3,NaN,NaN,N,N,18.060,NaN,...,1.102300e+00,3.117000e-01,1.284300e+00,4.736100e-01,1.626700e-01,2.487900e-02,5.523600e+00,1.064800e+02,MBA,0.26980

In [110]:
a = df.loc[0, "id"]
a

'a0000001'

In [112]:
a[0] + a[3:] == x

True

In [ ]:
a

In [11]:
def get_value_asterank_wid(x):
    x_bis = x[0] + x[3:]
    url = "https://www.asterank.com/api/asterank?query={%22id%22:{%22$lt%22:%22" + x_bis + "%22}}&limit=1"
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()[0]['price']

In [12]:
get_value_asterank("a000001")

8123022111651.299

In [ ]:
if

In [6]:
df_test = df.sample(10)

In [9]:
df_test['price'] = df_test['id'].apply(get_value_asterank)

In [10]:
df_test

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms,price
908212,bK17B07E,3767274,(2017 BE7),2017 BE7,NaN,NaN,N,N,18.200,NaN,...,0.000018,0.000098,0.000082,1.817900e-08,4.764800e-09,0.000226,0.000013,IMB,0.56122,8.123022e+12
396346,a0396347,2396347,396347 (2014 DH72),396347,NaN,NaN,N,N,16.600,NaN,...,0.000045,0.000060,0.000036,2.845900e-08,3.041700e-09,0.000169,0.000024,MBA,0.63237,8.123022e+12
486162,a0486163,2486163,486163 (2012 XB135),486163,NaN,NaN,N,N,17.600,NaN,...,0.000056,0.000072,0.000047,2.816400e-08,5.107700e-09,0.000157,0.000021,MBA,0.55128,8.123022e+12
795340,bK14S58U,3826110,(2014 SU58),2014 SU58,NaN,NaN,N,N,18.824,NaN,...,0.004685,0.040502,0.071578,1.710100e-04,2.552700e-05,0.317870,0.120060,MBA,0.52905,8.123022e+12
436021,a0436022,2436022,436022 (2009 HR62),436022,NaN,NaN,N,N,16.400,NaN,...,0.000079,0.000084,0.000025,4.666400e-08,3.616700e-09,0.000141,0.000041,MBA,0.57257,8.123022e+12
683040,bK10RC4L,3576337,(2010 RL124),2010 RL124,NaN,NaN,N,N,17.800,NaN,...,0.000107,0.000533,0.000709,6.683000e-07,9.110500e-08,0.002874,0.000473,MBA,0.59119,8.123022e+12
419325,a0419326,2419326,419326 (2009 WR119),419326,NaN,NaN,N,N,16.200,NaN,...,0.000043,0.000086,0.000077,5.343800e-08,4.536600e-09,0.000414,0.000047,MBA,0.66926,8.123022e+12
831243,bK15FV4A,3901588,(2015 FA314),2015 FA314,NaN,NaN,N,NaN,19.200,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IMB,0.23000,8.123022e+12
22780,a0022781,2022781,22781 (1999 GN4),22781,NaN,NaN,N,N,15.000,3.403,...,0.000041,0.000047,0.000022,9.222100e-09,1.644300e-09,0.000077,0.000007,MBA,0.48971,8.123022e+12
661162,bK09Sc4J,3961920,(2009 SJ384),2009 SJ384,NaN,NaN,N,N,18.500,NaN,...,0.000090,0.000117,0.000073,8.908400e-08,1.473400e-08,0.000260,0.000069,MBA,0.58734,8.123022e+12

In [108]:
get_value_asterank('a00001')

8123022111651.299

In [117]:
df['price'] = df['id'].apply(get_value_asterank)

ConnectionError: ('Connection aborted.', OSError(113, 'No route to host'))

In [118]:
df.head(10)

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,a0000001,2000001,1 Ceres,1,Ceres,NaN,N,N,3.40,939.400,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
1,a0000002,2000002,2 Pallas,2,Pallas,NaN,N,N,4.20,545.000,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
2,a0000003,2000003,3 Juno,3,Juno,NaN,N,N,5.33,246.596,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
3,a0000004,2000004,4 Vesta,4,Vesta,NaN,N,N,3.00,525.400,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
4,a0000005,2000005,5 Astraea,5,Astraea,NaN,N,N,6.90,106.699,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191
5,a0000006,2000006,6 Hebe,6,Hebe,NaN,N,N,5.80,185.180,...,2.191800e-06,1.122100e-05,1.300600e-05,7.392200e-06,3.306700e-09,4.438800e-10,2.875400e-05,2.344500e-06,MBA,0.41032
6,a0000007,2000007,7 Iris,7,Iris,NaN,N,N,5.60,199.830,...,2.582500e-06,2.641200e-05,2.707500e-05,7.014700e-06,2.469500e-09,3.370100e-10,2.662700e-05,1.699400e-06,MBA,0.38128
7,a0000008,2000008,8 Flora,8,Flora,NaN,N,N,6.50,147.491,...,3.240300e-06,2.432000e-05,2.664600e-05,1.209200e-05,2.668100e-09,4.746200e-10,4.018700e-05,1.876500e-06,MBA,0.54186
8,a0000009,2000009,9 Metis,9,Metis,NaN,N,N,6.30,190.000,...,2.007400e-06,2.417000e-05,2.600800e-05,1.036600e-05,3.470200e-09,5.192700e-10,3.870700e-05,2.614600e-06,MBA,0.44895
9,a0000010,2000010,10 Hygiea,10,Hygiea,NaN,N,N,5.50,407.120,...,2.173400e-06,2.855200e-05,3.023700e-05,1.124600e-05,7.699800e-09,5.847400e-10,6.482900e-05,6.724400e-06,MBA,0.53434

In [13]:
df_test

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms,price
908212,bK17B07E,3767274,(2017 BE7),2017 BE7,NaN,NaN,N,N,18.200,NaN,...,0.000018,0.000098,0.000082,1.817900e-08,4.764800e-09,0.000226,0.000013,IMB,0.56122,8.123022e+12
396346,a0396347,2396347,396347 (2014 DH72),396347,NaN,NaN,N,N,16.600,NaN,...,0.000045,0.000060,0.000036,2.845900e-08,3.041700e-09,0.000169,0.000024,MBA,0.63237,8.123022e+12
486162,a0486163,2486163,486163 (2012 XB135),486163,NaN,NaN,N,N,17.600,NaN,...,0.000056,0.000072,0.000047,2.816400e-08,5.107700e-09,0.000157,0.000021,MBA,0.55128,8.123022e+12
795340,bK14S58U,3826110,(2014 SU58),2014 SU58,NaN,NaN,N,N,18.824,NaN,...,0.004685,0.040502,0.071578,1.710100e-04,2.552700e-05,0.317870,0.120060,MBA,0.52905,8.123022e+12
436021,a0436022,2436022,436022 (2009 HR62),436022,NaN,NaN,N,N,16.400,NaN,...,0.000079,0.000084,0.000025,4.666400e-08,3.616700e-09,0.000141,0.000041,MBA,0.57257,8.123022e+12
683040,bK10RC4L,3576337,(2010 RL124),2010 RL124,NaN,NaN,N,N,17.800,NaN,...,0.000107,0.000533,0.000709,6.683000e-07,9.110500e-08,0.002874,0.000473,MBA,0.59119,8.123022e+12
419325,a0419326,2419326,419326 (2009 WR119),419326,NaN,NaN,N,N,16.200,NaN,...,0.000043,0.000086,0.000077,5.343800e-08,4.536600e-09,0.000414,0.000047,MBA,0.66926,8.123022e+12
831243,bK15FV4A,3901588,(2015 FA314),2015 FA314,NaN,NaN,N,NaN,19.200,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IMB,0.23000,8.123022e+12
22780,a0022781,2022781,22781 (1999 GN4),22781,NaN,NaN,N,N,15.000,3.403,...,0.000041,0.000047,0.000022,9.222100e-09,1.644300e-09,0.000077,0.000007,MBA,0.48971,8.123022e+12
661162,bK09Sc4J,3961920,(2009 SJ384),2009 SJ384,NaN,NaN,N,N,18.500,NaN,...,0.000090,0.000117,0.000073,8.908400e-08,1.473400e-08,0.000260,0.000069,MBA,0.58734,8.123022e+12

In [ ]:
df_test['price'] == 

for index, row in df_test.iterrows():
    x = row['id']
    x_bis = x[0] + x[3:]
    url = "https://www.asterank.com/api/asterank?query={%22id%22:{%22$lt%22:%22" + x_bis + "%22}}&limit=1"
    response = requests.get(url)
    if response.status_code == 200:
        if response.json()[0]['name'] == row['name']:
            row['price'] = response.json()[0]['price']
        else:
            row['price'] = ''