In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Import complete from asterank with all necessary info

In [4]:
complete = pd.read_csv('../data/asterank.csv')

/home/corentin/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (3,4,5,15,16,23,24,27,68,70) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
comp_col = list(complete.columns)

In [9]:
complete.shape

(792975, 75)

In [12]:
comp_col

['id',
 'spkid',
 'full_name',
 'pdes',
 'name',
 'prefix',
 'neo',
 'pha',
 'H',
 'G',
 'M1',
 'M2',
 'K1',
 'K2',
 'PC',
 'diameter',
 'extent',
 'albedo',
 'rot_per',
 'GM',
 'BV',
 'UB',
 'IR',
 'spec_B',
 'spec_T',
 'H_sigma',
 'diameter_sigma',
 'orbit_id',
 'epoch',
 'epoch_mjd',
 'epoch_cal',
 'equinox',
 'e',
 'a',
 'q',
 'i',
 'om',
 'w',
 'ma',
 'ad',
 'n',
 'tp',
 'tp_cal',
 'per',
 'per_y',
 'moid',
 'moid_ld',
 'moid_jup',
 't_jup',
 'sigma_e',
 'sigma_a',
 'sigma_q',
 'sigma_i',
 'sigma_om',
 'sigma_w',
 'sigma_ma',
 'sigma_ad',
 'sigma_n',
 'sigma_tp',
 'sigma_per',
 'class',
 'producer',
 'data_arc',
 'first_obs',
 'last_obs',
 'n_obs_used',
 'n_del_obs_used',
 'n_dop_obs_used',
 'condition_code',
 'rms',
 'two_body',
 'A1',
 'A2',
 'A3',
 'DT']

In [15]:
complete['spec_B'].unique()

array(['C', 'B', 'Sk', 'V', 'S', nan, 'L', 'Ch', 'X', 'Sl', 'Xk', 'Cb',
       'Sq', 'Cgh', 'Xc', 'Sa', 'Xe', 'K', 'T', 'Cg', 'Ld', 'A', 'D', 'R',
       'Sr', 'Q', 'O', 'U', 'S:', 'S(IV)', 'Sq:', 'X:', 'K:', 'C:', 'V:'],
      dtype=object)

# Import JPL NEO objects database retrieved 07/05

In [18]:
neo_jpl = pd.read_csv('../data/neo_asteroids_jpl.csv')

In [22]:
neo_jpl.head()

,id,full_name,a,e,i,om,w,q,ad,per_y,...,extent,albedo,rot_per,GM,BV,UB,IR,spec_B,spec_T,neo
0,a0000433,433 Eros (A898 PA),1.458167,0.222994,10.830513,304.299134,178.868934,1.133005,1.783330,1.760837,...,34.4x11.2x11.2,0.250,5.270,0.000446,0.921,0.531,NaN,S,S,Y
1,a0000719,719 Albert (A911 TB),2.638378,0.546721,11.570400,183.858330,156.191216,1.195922,4.080833,4.285620,...,NaN,NaN,5.801,NaN,NaN,NaN,NaN,S,NaN,Y
2,a0000887,887 Alinda (A918 AA),2.473534,0.570422,9.393848,110.433729,350.512508,1.062575,3.884493,3.890317,...,NaN,0.310,28.410,NaN,0.832,0.436,NaN,NaN,S,Y
3,a0001036,1036 Ganymed (A924 UB),2.665194,0.533095,26.676143,215.544210,132.378538,1.244392,4.085995,4.351123,...,NaN,0.238,10.297,NaN,0.842,0.417,NaN,S,S,Y
4,a0001221,1221 Amor (1932 EA1),1.919166,0.435488,11.880444,171.316487,26.677583,1.083392,2.754939,2.658746,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y

In [20]:
neo_jpl.shape

(25766, 27)

In [21]:
complete.head()

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,G,...,n_obs_used,n_del_obs_used,n_dop_obs_used,condition_code,rms,two_body,A1,A2,A3,DT
0,a0000001,2000001,1 Ceres,1,Ceres,NaN,N,N,3.34,0.12,...,5993.0,405.0,0.0,0,0.36954,NaN,NaN,NaN,NaN,NaN
1,a0000002,2000002,2 Pallas,2,Pallas,NaN,N,N,4.13,0.11,...,8441.0,NaN,NaN,0,0.35911,NaN,NaN,NaN,NaN,NaN
2,a0000003,2000003,3 Juno,3,Juno,NaN,N,N,5.33,0.32,...,7010.0,NaN,NaN,0,0.31378,NaN,NaN,NaN,NaN,NaN
3,a0000004,2000004,4 Vesta,4,Vesta,NaN,N,N,3.20,0.32,...,9325.0,2977.0,0.0,0,0.39592,NaN,NaN,NaN,NaN,NaN
4,a0000005,2000005,5 Astraea,5,Astraea,NaN,N,N,6.85,NaN,...,2695.0,NaN,NaN,0,0.49752,NaN,NaN,NaN,NaN,NaN

# Merge two databases to have all selected asteroids

In [42]:
df_neo = complete.merge(neo_jpl['id'], how='inner', on='id')

In [43]:
df_neo.shape

(18788, 75)

In [44]:
df_neo.columns

Index(['id', 'spkid', 'full_name', 'pdes', 'name', 'prefix', 'neo', 'pha', 'H',
       'G', 'M1', 'M2', 'K1', 'K2', 'PC', 'diameter', 'extent', 'albedo',
       'rot_per', 'GM', 'BV', 'UB', 'IR', 'spec_B', 'spec_T', 'H_sigma',
       'diameter_sigma', 'orbit_id', 'epoch', 'epoch_mjd', 'epoch_cal',
       'equinox', 'e', 'a', 'q', 'i', 'om', 'w', 'ma', 'ad', 'n', 'tp',
       'tp_cal', 'per', 'per_y', 'moid', 'moid_ld', 'moid_jup', 't_jup',
       'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w',
       'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per', 'class',
       'producer', 'data_arc', 'first_obs', 'last_obs', 'n_obs_used',
       'n_del_obs_used', 'n_dop_obs_used', 'condition_code', 'rms', 'two_body',
       'A1', 'A2', 'A3', 'DT'],
      dtype='object')

In [26]:
df_neo[['albedo_x', 'albedo_y']].head()

   albedo_x  albedo_y
0     0.250     0.250
1       NaN       NaN
2     0.310     0.310
3     0.238     0.238
4       NaN       NaN

In [31]:
cols_to_use = neo_jpl.columns.difference(complete.columns)

In [33]:
cols_jpl = list(neo_jpl.columns)
cols_comp = list(complete.columns)

In [40]:
res = []
for i in cols_jpl:
    if i not in cols_comp:
       res.append(i)

In [41]:
res

[]

In [29]:
a = list(df_neo.columns)

In [1]:
import os
import sys

In [47]:
rootdir = os.path.dirname(os.path.dirname(__file__))

NameError: name '__file__' is not defined

In [2]:
os.environ['PYTHONPATH']

'/home/corentin/code/corentingaret/asteroid_mining:/home/corentin/code/corentingaret/data-challenges/04-Decision-Science:'

In [51]:
sys.path

['/home/corentin/code/corentingaret/asteroid_mining/notebooks',
 '/home/corentin/code/corentingaret/data-challenges/04-Decision-Science',
 '/home/corentin/code/corentingaret/asteroid_mining/notebooks',
 '/home/corentin/.pyenv/versions/3.8.6/lib/python38.zip',
 '/home/corentin/.pyenv/versions/3.8.6/lib/python3.8',
 '/home/corentin/.pyenv/versions/3.8.6/lib/python3.8/lib-dynload',
 '',
 '/home/corentin/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages',
 '/home/corentin/code/corentingaret/mlproject',
 '/home/corentin/code/corentingaret/test_package',
 '/home/corentin/code/corentingaret/toolbox_data',
 '/home/corentin/code/corentingaret/TaxiFareModel',
 '/home/corentin/code/Celine-Guan/backinthessr',
 '/home/corentin/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/IPython/extensions',
 '/home/corentin/.ipython']

In [52]:
os.path.dirname(os.path.dirname(__file__))

NameError: name '__file__' is not defined

# First solution

In [3]:
root_path = "/home/corentin/code/corentingaret/asteroid_mining"

In [4]:
sys.path

['/home/corentin/code/corentingaret/asteroid_mining/notebooks',
 '/home/corentin/code/corentingaret/asteroid_mining',
 '/home/corentin/code/corentingaret/data-challenges/04-Decision-Science',
 '/home/corentin/code/corentingaret/asteroid_mining/notebooks',
 '/home/corentin/.pyenv/versions/3.8.6/lib/python38.zip',
 '/home/corentin/.pyenv/versions/3.8.6/lib/python3.8',
 '/home/corentin/.pyenv/versions/3.8.6/lib/python3.8/lib-dynload',
 '',
 '/home/corentin/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages',
 '/home/corentin/code/corentingaret/mlproject',
 '/home/corentin/code/corentingaret/test_package',
 '/home/corentin/code/corentingaret/toolbox_data',
 '/home/corentin/code/corentingaret/TaxiFareModel',
 '/home/corentin/code/Celine-Guan/backinthessr',
 '/home/corentin/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/IPython/extensions',
 '/home/corentin/.ipython']

In [5]:
os.getcwd()

'/home/corentin/code/corentingaret/asteroid_mining/notebooks'

In [16]:
Data().get_data()

/home/corentin/code/corentingaret/data/raw_data

In [20]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
from asteroid import test

ModuleNotFoundError: No module named 'estimate'

In [27]:
from data import Data

[autoreload of data failed: Traceback (most recent call last):
  File "/home/corentin/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 245, in check
    superreload(m, reload, self.old_objects)
  File "/home/corentin/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 394, in superreload
    module = reload(module)
  File "/home/corentin/.pyenv/versions/3.8.6/lib/python3.8/imp.py", line 314, in reload
    return importlib.reload(module)
  File "/home/corentin/.pyenv/versions/3.8.6/lib/python3.8/importlib/__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 604, in _exec
  File "<frozen importlib._bootstrap_external>", line 779, in exec_module
  File "<frozen importlib._bootstrap_external>", line 916, in get_code
  File "<frozen importlib._bootstrap_external>", line 846, in source_to_code
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/home/corentin/code/corentingaret/asteroid_mining/data.py", line 29
    print('csv file saved!')
    ^
SyntaxError: invalid syntax
]

In [31]:
Data().create_df_neo()

'done'

In [32]:
df = Data().get_data()
df.head()

/home/corentin/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3338: DtypeWarning: Columns (5,17,24,25) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,Unnamed: 0,id,spkid,full_name,pdes,name,prefix,neo,pha,H,...,n_obs_used,n_del_obs_used,n_dop_obs_used,condition_code,rms,two_body,A1,A2,A3,DT
0,0,a0000433,2000433,433 Eros (1898 DQ),433,Eros,NaN,Y,N,11.16,...,6231.0,1.0,3.0,0.0,0.36003,NaN,NaN,NaN,NaN,NaN
1,1,a0000719,2000719,719 Albert (1911 MT),719,Albert,NaN,Y,N,15.40,...,1657.0,NaN,NaN,0.0,0.38568,NaN,NaN,NaN,NaN,NaN
2,2,a0000887,2000887,887 Alinda (1918 DB),887,Alinda,NaN,Y,N,13.40,...,1189.0,NaN,NaN,0.0,0.49071,NaN,NaN,NaN,NaN,NaN
3,3,a0001036,2001036,1036 Ganymed (1924 TD),1036,Ganymed,NaN,Y,N,9.45,...,5647.0,0.0,1.0,0.0,0.39158,NaN,NaN,NaN,NaN,NaN
4,4,a0001221,2001221,1221 Amor (1932 EA1),1221,Amor,NaN,Y,N,17.70,...,467.0,NaN,NaN,0.0,0.45599,NaN,NaN,NaN,NaN,NaN

In [33]:
df.drop(columns=

Index(['Unnamed: 0', 'id', 'spkid', 'full_name', 'pdes', 'name', 'prefix',
       'neo', 'pha', 'H', 'G', 'M1', 'M2', 'K1', 'K2', 'PC', 'diameter',
       'extent', 'albedo', 'rot_per', 'GM', 'BV', 'UB', 'IR', 'spec_B',
       'spec_T', 'H_sigma', 'diameter_sigma', 'orbit_id', 'epoch', 'epoch_mjd',
       'epoch_cal', 'equinox', 'e', 'a', 'q', 'i', 'om', 'w', 'ma', 'ad', 'n',
       'tp', 'tp_cal', 'per', 'per_y', 'moid', 'moid_ld', 'moid_jup', 't_jup',
       'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w',
       'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per', 'class',
       'producer', 'data_arc', 'first_obs', 'last_obs', 'n_obs_used',
       'n_del_obs_used', 'n_dop_obs_used', 'condition_code', 'rms', 'two_body',
       'A1', 'A2', 'A3', 'DT'],
      dtype='object')

In [3]:
df1 = pd.read_csv('../data/raw_data/cneos_asteroids.csv')

In [4]:
df1.head()

,Object,Orbit ID,H (mag),Estimated Diameter (m),OCC,"Min. delta-V [delta-V, dur.] (km/s), (d)","Min. Duration [delta-V, dur.] (km/s), (d)",Viable Trajectories,Next Optical Opportunity (yyyy-mm [Vp]),Next Goldstone Radar Opportunity (yyyy-mm [SNR]),Unnamed: 10
0,(2000 SG344),17,24.7,20 - 89,3,"3.563, 346","5.952, 114",3302685,2028-04 [19.1],2028-05 [58],bK00SY4G
1,(2001 FR85),13,24.8,19 - 85,3,"4.610, 354","5.991, 162",1681641,2038-10 [21.1],none,bK01F85R
2,(2006 BZ147),13,25.4,14 - 65,3,"4.242, 354","5.965, 250",1676518,2034-12 [19.2],2035-02 [40],bK06BE7Z
3,(2018 PM28),5,25.7,13 - 56,4,"5.113, 354","5.946, 218",1412351,2043-06 [21.4],none,bK18P28M
4,(2017 SV19),8,25.0,17 - 78,5,"4.895, 354","5.989, 178",1255101,2028-09 [24.0],none,bK17S19V

In [5]:
df1.shape

(70, 11)

In [6]:
df1.columns

Index(['Object', 'Orbit ID', 'H (mag)', 'Estimated Diameter (m)', 'OCC',
       'Min. delta-V [delta-V, dur.] (km/s), (d)',
       'Min. Duration [delta-V, dur.] (km/s), (d)', 'Viable Trajectories',
       'Next Optical Opportunity (yyyy-mm [Vp])',
       'Next Goldstone Radar Opportunity (yyyy-mm [SNR])', 'Unnamed: 10'],
      dtype='object')

In [8]:
df1 = df1.rename(columns={'Unnamed: 10':'id'})